.circle-large-check-icon {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff3;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-check-lg {
  font-size: 28px;
}

.claim-button {
  width: 160px;
  border-radius: 8px;
  border: 1px solid var(--White-05, rgba(255, 255, 255, 0.05));
  background: var(--White-05, rgba(255, 255, 255, 0.05));
  display: flex;
  width: 160px;
  padding: 10px 5px !important;
  justify-content: center;
  align-items: center;
  color: var(--White-40, rgba(255, 255, 255, 0.4));
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: not-allowed !important;
  margin-top: 12px !important;
}

.text-format {
  color: var(--White-60, rgba(255, 255, 255, 0.6));
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.text-sub-format {
  color: var(--White-20, rgba(255, 255, 255, 0.2));
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

.align-card-item {
  position: relative;
  bottom: 30px;
}
@media (max-width: 768px) {
  .text-format {
    max-width: 160px !important;
  }
}
