/* .container {
  overflow-x: hidden;
} */

.intract-gif {
  text-align: center;
  margin-top: 200px !important;
  img {
    width: 235px;
  }
}
.intaract-target {
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 22px !important;
    color: rgba(255, 255, 255, 0.4);
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.btn-get-start {
  position: relative;
  display: inline-flex;
  border: none;
  background-color: #6435e9;
  padding: 10px 57px !important;
  border-radius: 8px !important;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}
.aside-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.btn-arrow-move {
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  z-index: 1;
  background-color: transparent;
}
.btn-arrow-move span {
  color: white;
}
.btn-arrow-move:hover {
  transform: translate(3px);
}
.line-flow-infinit {
  position: absolute;
  top: 45%;
  left: -120px;
  z-index: 0;
}
.mid-section {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.start-break-align-line {
  position: absolute;
  top: 45%;
  left: -120px;
  z-index: 0;
}

.align-midlineImage {
  position: absolute;
  top: 83%;
  left: 185px;
  z-index: -1;
}

.section-first {
  position: relative;
  z-index: 10;
}
.section-second {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  margin-top: -45px !important;
}

.section-third {
  display: flex;
  justify-content: flex-end;
  margin-top: 73px !important;
}

.align-end-direction {
  position: absolute;
  top: 46%;
  left: 57%;
  z-index: -1;
}
.align-primary-card {
  margin-top: 160px !important;
}
.align-secondary-card {
  position: relative;
  margin-right: 240px !important;
  z-index: 10;
}
.align-roadEarner-tag {
  position: relative;
  top: 280px;
  right: 60px;
}
.align-roadEarner-image {
  position: absolute;
  top: 10%;
  left: -54%;
  right: 200px;
  z-index: -1;
}
.section-last {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.intract-certifeid-card-img {
  margin-top: 60px !important;
}
.airdrop-coin {
  position: absolute;
  top: 46%;
  left: -23%;
  z-index: -1;
}

.align-timer-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  position: relative;
}
.reward-gift-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px !important;
  position: absolute;
  left: calc(-100% - 24px);
  bottom: 0;
}
.wrapper-card {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.drop-align-item {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.section {
  margin: 0 auto !important;
  padding: 0 1rem !important;
  width: 100%;
  max-width: 1200px !important;
  position: relative;
}
